.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  gap: 20px;
}

.notifications {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.installApp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.input {
  border: none;
  outline: none;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  position: relative;
  bottom: 14px;
  right: 9px;
  border-radius: 22px;
  width: 220px;
  box-sizing: border-box;
  padding: 0 18px;
  background-color: #fff;
  color: black;
  margin: 20px 0 0 0;
}

.btn {
  background: rgba(197, 62, 126, .33) ! important;
  color: #fff;
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
}

/* CSS */
.button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
